{% load static %}

<div class="header-area header-sticky only-mobile-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header position-relative">
                        <!-- brand logo -->
                        <div class="header__logo top-logo">
                            <a href="http://127.0.0.1:8000/">
                                <img src='{% static "images/logo/thetimes_logo.png" %}' class="img-fluid" alt="">
                            </a>
                        </div>

                        <div class="header-right flexible-image-slider-wrap">

                            <div class="header-right-inner" id="hidden-icon-wrapper">
                                <!-- Header Search Form -->
                                <div class="header-search-form d-md-none d-block">
                                    <form action="#" class="search-form-top">
                                        <input class="search-field" type="text" placeholder="Search…">
                                        <button class="search-submit">
                                            <i class="search-btn-icon fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>

                                <!-- Header Top Info -->
                                <div class="swiper-container header-top-info-slider-werap top-info-slider__container">
                                    <div class="swiper-wrapper header-top-info-inner default-color">
                                        <div class="swiper-slide">
                                            <div class="info-item">
                                                <div class="info-icon">
                                                    <span class="fa fa-phone"></span>
                                                </div>
                                                <div class="info-content">
                                                    <h6 class="info-title">(+92) 307 4960094</h6>
                                                    <div class="info-sub-title">Info@thetimestech.net</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="info-item">
                                                <div class="info-icon">
                                                    <span class="fa fa-map-marker-alt"></span>
                                                </div>
                                                <div class="info-content">
                                                    <h6 class="info-title">Office # 78, New Muslim Town Near Canal</h6>
                                                    <div class="info-sub-title">Lahore, Punjab, Pakistan</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="info-item">
                                                <div class="info-icon">
                                                    <span class="fa fa-clock"></span>
                                                </div>
                                                <div class="info-content">
                                                    <h6 class="info-title">2:00PM - 10:00PM</h6>
                                                    <div class="info-sub-title">Monday to Friday</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="info-item">
                                                <div class="info-icon">
                                                    <span class="fa fa-comment-alt-lines"></span>
                                                </div>
                                                <div class="info-content">
                                                    <h6 class="info-title">Online 24/7</h6>
                                                    <div class="info-sub-title">(+92) 307 4960094</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Header Social Networks -->
                                <div class="header-social-networks style-icons">
                                    <div class="inner">
                                        <a class=" social-link hint--black hint--bottom-left" aria-label="Twitter" href="https://twitter.com/" data-hover="Twitter" target="_blank">
                                            <i class="social-icon fab fa-twitter"></i>
                                        </a>
                                        <a class=" social-link hint--black hint--bottom-left" aria-label="Facebook" href="https://facebook.com/" data-hover="Facebook" target="_blank">
                                            <i class="social-icon fab fa-facebook-f"></i>
                                        </a>
                                        <a class=" social-link hint--black hint--bottom-left" aria-label="Instagram" href="https://instagram.com/" data-hover="Instagram" target="_blank">
                                            <i class="social-icon fab fa-instagram"></i>
                                        </a>
                                        <a class=" social-link hint--black hint--bottom-left" aria-label="Linkedin" href="https://linkedin.com/" data-hover="Linkedin" target="_blank">
                                            <i class="social-icon fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <!-- mobile menu -->
                            <div class="mobile-navigation-icon d-block d-xl-none" id="mobile-menu-trigger">
                                <i></i>
                            </div>
                            <!-- hidden icons menu -->
                            <div class="hidden-icons-menu d-block d-md-none" id="hidden-icon-trigger">
                                <a href="javascript:void(0)">
                                    <i class="far fa-ellipsis-h-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom-wrap bg-theme-default d-md-block d-none header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-bottom-inner">
                            <div class="header-bottom-left-wrap">
                                <!-- navigation menu -->
                                <div class="header__navigation d-none d-xl-block">
                                    <nav class="navigation-menu navigation-menu--text_white">
                                        <ul>
                                            <li class="has-children has-children--multilevel-submenu">
                                                <a href="#"><span>Home</span></a>
                                                <ul class="submenu">
                                                    <li><a href="#"><span>Infotechno</span></a></li>
                                                    <li><a href="#"><span>Processing</span></a></li>
                                                    <li><a href="#"><span>Appointment</span></a></li>
                                                    <li><a href="#"><span>Services</span></a></li>
                                                    <li><a href="#"><span>Resolutions</span></a></li>
                                                    <li><a href="#"><span>Data Science and AI</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children has-children--multilevel-submenu">
                                                <a href="#"><span>Company</span></a>
                                                <ul class="submenu">
                                                    <li class="has-children">
                                                        <a href="#"><span>About us</span></a>
                                                        <ul class="submenu">
                                                            <li><a href="about-us"><span>About Us</span></a></li>
                                                            <li class="has-children">
                                                                <a href="#"><span>Submenu Level Two</span></a>
                                                                <ul class="submenu">
                                                                    <li><a href="#"><span>Submenu Level Three</span></a></li>
                                                                    <li><a href="#"><span>Submenu Level Three</span></a></li>
                                                                    <li><a href="#"><span>Submenu Level Three</span></a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><span>Contact us</span></a></li>
                                                    <li><a href="#"><span>Leadership</span></a></li>
                                                    <li><a href="#"><span>Why choose us</span></a></li>
                                                    <li><a href="#"><span>Our history</span></a></li>
                                                    <li><a href="#"><span>FAQs</span></a></li>
                                                    <li><a href="#"><span>Careers</span></a></li>
                                                    <li><a href="#"><span>Pricing plans</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children has-children--multilevel-submenu">
                                                <a href="#"><span>IT solutions</span></a>
                                                <ul class="submenu">
                                                    <li><a href="#"><span>IT Services</span></a></li>
                                                    <li><a href="#"><span>Managed IT Services</span></a></li>
                                                    <li><a href="#"><span>Industries</span></a></li>
                                                    <li><a href="#"><span>Business solution</span></a></li>
                                                    <li><a href="#"><span>IT Services Details</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a href="#"><span>Elements</span></a>
                                                <!-- mega menu -->
                                                <ul class="megamenu megamenu--mega">
                                                    <li>
                                                        <h2 class="page-list-title">ELEMENT GROUP 01</h2>
                                                        <ul>
                                                            <li><a href="#"><span>Accordions & Toggles</span></a></li>
                                                            <li><a href="#"><span>Box Icon</span></a></li>
                                                            <li><a href="#"><span>Box Image</span></a></li>
                                                            <li><a href="#"><span>Box Large Image</span></a></li>
                                                            <li><a href="#"><span>Buttons</span></a></li>
                                                            <li><a href="#"><span>Call to action</span></a></li>
                                                            <li><a href="#"><span>Client Logo</span></a></li>
                                                            <li><a href="#"><span>Countdown</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <h2 class="page-list-title">ELEMENT GROUP 02</h2>
                                                        <ul>
                                                            <li><a href="#"><span>Counters</span></a></li>
                                                            <li><a href="#"><span>Dividers</span></a></li>
                                                            <li><a href="#"><span>Flexible image slider</span></a></li>
                                                            <li><a href="#"><span>Google Map</span></a></li>
                                                            <li><a href="#"><span>Gradation</span></a></li>
                                                            <li><a href="#"><span>Instagram</span></a></li>
                                                            <li><a href="#"><span>Lists</span></a></li>
                                                            <li><a href="#"><span>Message box</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <h2 class="page-list-title">ELEMENT GROUP 03</h2>
                                                        <ul>
                                                            <li><a href="#"><span>Popup Video</span></a></li>
                                                            <li><a href="#"><span>Pricing Box</span></a></li>
                                                            <li><a href="#"><span>Progress Bar</span></a></li>
                                                            <li><a href="#"><span>Progress Circle</span></a></li>
                                                            <li><a href="#"><span>Rows & Columns</span></a></li>
                                                            <li><a href="#"><span>Social Networks</span></a></li>
                                                            <li><a href="#"><span>Tabs</span></a></li>
                                                            <li><a href="#"><span>Team member</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <h2 class="page-list-title">ELEMENT GROUP 04</h2>
                                                        <ul>
                                                            <li><a href="#"><span>Testimonials</span></a></li>
                                                            <li><a href="#"><span>Timeline</span></a></li>
                                                            <li><a href="#"><span>Carousel Sliders</span></a></li>
                                                            <li><a href="#"><span>Typed Text</span></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-children has-children--multilevel-submenu">
                                                <a href="#"><span>Case Studies</span></a>
                                                <!-- multilevel submenu -->
                                                <ul class="submenu">
                                                    <li><a href="#"><span>Case Studies 01</span></a></li>
                                                    <li><a href="#"><span>Case Studies 02</span></a></li>
                                                    <li><a href="#"><span>Single Layout</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children has-children--multilevel-submenu">
                                                <a href="#"><span>Blog</span></a>
                                                <!-- multilevel submenu -->
                                                <ul class="submenu">
                                                    <li><a href="#"><span>List Large Image</span></a></li>
                                                    <li><a href="#"><span>Left Large Image</span></a></li>
                                                    <li><a href="#"><span>Grid Classic</span></a></li>
                                                    <li><a href="#"><span>Grid Masonry</span></a></li>
                                                    <li class="has-children">
                                                        <a href="#"><span>Single Layouts</span></a>
                                                        <ul class="submenu">
                                                            <li><a href="#"><span>Left Sidebar</span></a></li>
                                                            <li><a href="#"><span>Right Sidebar</span></a></li>
                                                            <li><a href="#"><span>No Sidebar</span></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <div class="header-search-form ">
                                <form action="#" class="search-form-top style-03 ">
                                    <input class="search-field" type="text" placeholder="Search…">
                                    <button class="search-submit">
                                        <i class="search-btn-icon fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>