{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Our History - A Complete IT Solution Provider</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href='{% static "images/thetimes_favicon.png" %}'>

    <!-- CSS
        ============================================ -->

    <link rel="stylesheet" href='{% static "css/vendor/vendor.min.css"  %}'>
    <link rel="stylesheet" href='{% static "css/plugins/plugins.min.css" %}'>


    <!-- Main Style CSS -->
    <link rel="stylesheet" href='{% static "css/style.css" %}'>

</head>

<body>

    {% include 'preloader.html' %}

    <!--====================  header area ====================-->
    {% include 'header.html' %}
    <!--====================  End of header area  ====================-->

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h2 class="breadcrumb-title">Our history</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Our history</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal">
        <!--===========  our history wrapper  Start =============-->
        <div class="our-history-wrapper section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_30">
                            <h3 class="heading mb-20">We create dreams <span class="text-color-primary"> for the future.</span> <br> We realize them sucessfully. </h3>
                                <p class="title-dec-text">You know that you found your dream when you have a desire to achieve a goal, have the gut to pursue it, have the courage to overcome any obstacles on your path and feel blessed when finally realizing it. Dream on, keep up and make it pay off.</p>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="timeline-area section-space--pt_60">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ht-timeline style-01">
                                <ul class="tm-timeline-list ht-animation-queue">
                                    <li class="line"></li>
                                    <li class="item animate">
                                        <div class="dots">
                                            <div class="middle-dot"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 timeline-col left timeline-feature">
                                                <div class="inner">
                                                    <div class="date-wrap">
                                                        <h2 class="year">1988</h2>
                                                    </div>

                                                    <div class="photo">
                                                        <img src='{% static "images/timeline/timeline-image-01.jpg" %}' alt="timeline-image-01" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 timeline-col right timeline-info">
                                                <div class="inner">
                                                    <div class="content-wrap">
                                                        <div class="content-body">
                                                            <h6 class="heading">The Foundation of TheTimesTech</h6>

                                                            <div class="text">
                                                                The beginning of TheTimesTech Co. was laid by three men: Jackie Moodle, Alan Morray and Burrow Kills. Back in 1988, three passionate young pupils, whose major is Information Technology, had discussed with each other about starting a company to deliver technological &amp; digital services in an old rented apartment. </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item animate">
                                        <div class="dots">
                                            <div class="middle-dot"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 timeline-col left timeline-feature">
                                                <div class="inner">
                                                    <div class="date-wrap">
                                                        <h6 class="year"> 1993 </h6>
                                                    </div>

                                                    <div class="photo">
                                                        <img src='{% static "images/timeline/timeline-image-02.jpg" %}' alt="timeline-image-01" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 timeline-col right timeline-info">
                                                <div class="inner">
                                                    <div class="content-wrap">
                                                        <div class="content-body">
                                                            <h6 class="heading">TheTimesTech’s Golden Age</h6>

                                                            <div class="text">
                                                                TheTimesTech had been operating for 5 years when it reached the golden age in the company’s history. They received two prestigious awards for Dedicated Services &amp; Community Contribution (in 1990), plus three successive award nominations for Best IT Company of the year (respectively in 1991, 1992 &amp; 1993).
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item animate">
                                        <div class="dots">
                                            <div class="middle-dot"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 timeline-col left timeline-feature">
                                                <div class="inner">
                                                    <div class="date-wrap">
                                                        <h6 class="year"> 1995 </h6>
                                                    </div>

                                                    <div class="photo">
                                                        <img src='{% static "images/timeline/blog-07-500x350.jpg" %}' alt="timeline-image-01" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 timeline-col right timeline-info">
                                                <div class="inner">
                                                    <div class="content-wrap">
                                                        <div class="content-body">
                                                            <h6 class="heading">TheTimesTech’s Turning Point</h6>

                                                            <div class="text">
                                                                The company has a turning point in 1995 when one of its founders left the board of the management and established a new company in Healthcare & Assurance – HealSoul. Later on, TheTimesTech and HealSoul have successfully cooperated in several projects to integrate technology into taking care of people’s health. .
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--===========  feature-large-images-wrapper  End =============-->
        <!--============ Contact Us Area Start =================-->
        <div class="contact-us-area infotechno-contact-us-bg section-space--pt_100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="image">
                            <img class="img-fluid" src='{% static "images/banners/home-cybersecurity-contact-bg-image.png" %}' alt="">
                        </div>
                    </div>

                    <div class="col-lg-4 ml-auto">
                        <div class="contact-info style-two text-left">

                            <div class="contact-info-title-wrap text-center">
                                <h3 class="heading  mb-10">4.9/5.0</h3>
                                <div class="ht-star-rating lg-style">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p class="sub-text">by 25+ customers for 100+ clients</p>
                            </div>

                            <div class="contact-list-item">
                                <a href="tel:+923074960094" class="single-contact-list">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <div class="icon">
                                                <span class="fal fa-phone"></span>
                                            </div>
                                            <div class="main-content">
                                                <h6 class="heading">Call for advice now!</h6>
                                                <div class="text">(+92) 307 4960094</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="mailto:info@thetimestech.net" class="single-contact-list">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <div class="icon">
                                                <span class="fal fa-envelope"></span>
                                            </div>
                                            <div class="main-content">
                                                <h6 class="heading">Say hello</h6>
                                                <div class="text">info@thetimestech.net</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============ Contact Us Area End =================-->
    </div>

    <!--====================  footer area ====================-->
    {% include 'footer.html' %}
    <!--====================  End of footer area  ====================-->

    <!-- Start Toolbar -->
        <!-- Start Quick Link and Toolbar -->
        {% include 'quick-sidebar.html' %}
        <!-- End Quick Link and Toolbar -->
    <!-- End Toolbar -->
    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fal fa-long-arrow-up"></i>
        <i class="arrow-bottom fal fa-long-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->

    <!--====================  mobile menu overlay ====================-->
    {% include 'mobile-overlay-menu.html' %}
    <!--====================  End of mobile menu overlay  ====================-->

    <!--====================  search overlay ====================-->
    <div class="search-overlay" id="search-overlay">

        <div class="search-overlay__header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 ml-auto col-4">
                        <!-- search content -->
                        <div class="search-content text-right">
                            <span class="mobile-navigation-close-icon" id="search-close-trigger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-overlay__inner">
            <div class="search-overlay__body">
                <div class="search-overlay__form">
                    <form action="#">
                        <input type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of search overlay  ====================-->

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src='{% static "js/vendor/modernizr-2.8.3.min.js" %}'></script>

    <!-- jQuery JS -->
    <script src='{% static "js/vendor/jquery-3.3.1.min.js" %}'></script>

    <!-- Bootstrap JS -->
    <script src='{% static "js/vendor/bootstrap.min.js" %}'></script>

    <!-- Swiper Slider JS -->
    <script src='{% static "js/plugins/swiper.min.js" %}'></script>

    <!-- Light gallery JS -->
    <script src='{% static "js/plugins/lightgallery.min.js" %}'></script>

    <!-- Waypoints JS -->
    <script src='{% static "js/plugins/waypoints.min.js" %}'></script>

    <!-- Counter down JS -->
    <script src='{% static "js/plugins/countdown.min.js" %}'></script>

    <!-- Isotope JS -->
    <script src='{% static "js/plugins/isotope.min.js" %}'></script>

    <!-- Masonry JS -->
    <script src='{% static "js/plugins/masonry.min.js" %}'></script>

    <!-- ImagesLoaded JS -->
    <script src='{% static "js/plugins/images-loaded.min.js" %}'></script>

    <!-- Wavify JS -->
    <script src='{% static "js/plugins/wavify.js" %}'></script>

    <!-- jQuery Wavify JS -->
    <script src='{% static "js/plugins/jquery.wavify.js" %}'></script>

    <!-- circle progress JS -->
    <script src='{% static "js/plugins/circle-progress.min.js" %}'></script>

    <!-- counterup JS -->
    <script src='{% static "js/plugins/counterup.min.js" %}'></script>

    <!-- wow JS -->
    <script src='{% static "js/plugins/wow.min.js" %}'></script>

    <!-- animation text JS -->
    <script src='{% static "js/plugins/animation-text.min.js" %}'></script>

    <!-- Vivus JS -->
    <script src='{% static "js/plugins/vivus.min.js" %}'></script>

    <!-- Some plugins JS -->
    <script src='{% static "js/plugins/some-plugins.js" %}'></script>


    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <script src='{% static "js/plugins/plugins.min.js" %}'></script>

    <!-- Main JS -->
    <script src='{% static "js/main.js" %}'></script>


</body>

</html>