{% load static %}

<div class="demo-option-container">
    <!-- Start Toolbar -->
    <div class="aeroland__toolbar">
        <div class="inner">
            <a class="quick-option hint--bounce hint--left hint--black primary-color-hover-important" href="#" aria-label="Quick Options">
                <i class="fal fa-project-diagram"></i>
            </a>
            <a class="hint--bounce hint--left hint--black primary-color-hover-important" target="_blank" href="https://thetimestech.net/contact-us/" aria-label="Support Center">
                <i class="fal fa-life-ring"></i>
            </a>
            <a class="hint--bounce hint--left hint--black primary-color-hover-important" target="_blank" href="#" aria-label="Get Quotation">
                <i class="fal fa-shopping-cart"></i>
            </a>
        </div>
    </div>
    <div class="demo-option-wrapper">
        <div class="demo-panel-header">
                    <div class="title">
                        <h6 class="heading mt-30">TheTimesTech provides a complete IT Solution.</h6>
                    </div>

                    <div class="panel-btn mt-20">
                        <a class="ht-btn ht-btn-md" href="#"><i class="far fa-file mr-2"></i> Book Appointment </a>
                    </div>
                </div>
        <div class="demo-quick-option-list">
                    <a class="link hint--bounce hint--black hint--top hint--dark" href="index-appointment.html" aria-label="Appointment">
                        <img class="img-fluid" src='{% static "images/demo-images/home-01.jpg" %}' alt="Images">
                    </a>
                    <a class="link hint--bounce hint--black hint--top hint--dark" href="index-infotechno.html" aria-label="Infotechno">
                        <img class="img-fluid" src='{% static "images/demo-images/home-02.jpg" %}' alt="Images">
                    </a>
                    <a class="link hint--bounce hint--black hint--top hint--dark" href="index-processing.html" aria-label="Processing">
                        <img class="img-fluid" src='{% static "images/demo-images/home-03.jpg" %}' alt="Images">
                    </a>
                    <a class="link hint--bounce hint--black hint--top hint--dark" href="index-services.html" aria-label="Services">
                        <img class="img-fluid" src='{% static "images/demo-images/home-04.jpg" %}' alt="Images">
                    </a>
                    <a class="link hint--bounce hint--black hint--top hint--dark" href="index-resolutions.html" aria-label="Resolutions">
                        <img class="img-fluid" src='{% static "images/demo-images/home-05.jpg" %}' alt="Images">
                    </a>
                    <a class="link hint--bounce hint--black hint--top hint--dark" href="index-cybersecurity.html" aria-label="Cybersecurity">
                        <img class="img-fluid" src='{% static "images/demo-images/home-06.jpg" %}' alt="Images">
                    </a>
                </div>
    </div>
</div>